
* {
  margin: 0;
  padding: 0;
  color: white;
}

.conteudo{
  position: relative;
  margin-top: 10vh;

}

h1 {
  text-align: center;
  margin-top: 2vh;
  font-size: 45px;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  gap: 2em;
}

.tabs button {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #111;
}

.tabs button.active {
  background-color: #111;
  color: #fff;
}

.knockout_table{
  margin: auto;
}


.tab_content {
  margin-top: 5vh;
  display: flex;
  text-align: center;
  justify-content: center;
}

